/* body and .text are NOT required for the blinking cursor. */

body {
    font-family: 'Roboto Mono';
    margin: 0;
    font-size: 20px;
    background-color: black;
    color: white;
}

.title {
    font-size: 2rem;
}

.title::after {
    content: "";
    position: relative;
    top: 7px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #777777;
    vertical-align: top;
    width: 15px;
    /* Set height to the line height of .text */
    height: 30px;
    /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}