@media only screen and (max-width: 320px) {
  html {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 2.4vw;
  }
}

@media only screen and (min-width: 540px) {
  html {
    font-size: 2.2vw;
  }
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 2vw;
  }
}

body {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  background: #4B79A1;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#283E51), to(#4B79A1));
  background: linear-gradient(to right, #283E51, #4B79A1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  word-spacing: 0.05rem;
  /* text-shadow: 1px 1px 5px grey; */
}

body a {
  color: white;
  text-decoration: none;
}

body .container {
  margin: auto 5rem;
  height: 100vh;
  padding: 0;
}

body .container .hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .hero .title {
  font-size: 2rem;
  font-weight: 800;
}

body .container .hero .title::after {
  content: "";
  position: relative;
  top: 0.5rem;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #FFFFFF;
  vertical-align: top;
  width: 1rem;
  /* Set height to the line height of .text */
  height: 2rem;
  /* 
              Animation paramaters:
              blink = animation-name, 
              1s = animation-duration, 
              step-end = animation-timing-function,
              infinite = animation-iteration-count
              */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

body .container .hero .subtitle {
  margin-top: 1rem;
}

body .container .hero .subtitle .email {
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 blueviolet;
          box-shadow: inset 0 -3px 0 blueviolet;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

body .container .hero .subtitle .email:hover {
  -webkit-box-shadow: inset 0 -1.2rem 0 blueviolet;
          box-shadow: inset 0 -1.2rem 0 blueviolet;
}

body .container .hero .profile-links ul {
  padding: 0;
}

body .container .hero .profile-links li {
  list-style-type: none;
  display: inline;
  margin-right: 1rem;
}

body .container .hero .profile-links .fa-twitter:hover {
  color: #00ACEE;
}

body .container .hero .profile-links .fa-linkedin:hover {
  color: #0E76A8;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
/*# sourceMappingURL=style.css.map */