/* body and .text are NOT required for the blinking cursor. */
html {
    font-size: 15px;
}


body {
    font-family: 'Roboto Mono';
    margin: 0;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    min-height: 200px;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.profile-links {
    display: flexbox;
}

.title {
    font-size: 2rem;
    padding-top: 10%;
}

.title::after {
    content: "";
    position: relative;
    top: 7px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #777777;
    vertical-align: top;
    width: 15px;
    /* Set height to the line height of .text */
    height: 30px;
    /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}